<style>
    .list{border: 1px solid #DDDDDD;border-radius: 5px;padding: 20px}
    td{text-align: center}
    .secondRow{margin-top: 10px}
</style>
<div class="row" style="margin-left: 10px">
    <h4>{{selectedSidetitle}}</h4>
    <hr>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-10 col-md-offset-1 list">
            <table class="table table-bordered">
                <h3><strong>广告库</strong></h3>
                <thead>
                <tr>
                    <td class="col-sm-1">序号</td>
                    <td class="col-md-2">广告名</td>
                    <td class="col-md-2">链接</td>
                    <td class="col-md-3">图片</td>
                    <td class="col-md-2">时间</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in adList">
                    <td class="col-sm-1">{{$index + 1}}</td>
                    <td class="col-md-2">{{item.name}}</td>
                    <td class="col-md-2">{{item.url}}</td>
                    <td class="col-md-3">{{item.img}}</td>
                    <td class="col-md-2">{{item.create_at}}</td>
                </tr>
                </tbody>
            </table>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">广告名：</span>
                    <input type="text" class="form-control" ng-model="newAd.name">
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">链接：</span>
                    <input type="text" class="form-control" ng-model="newAd.url">
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">广告图片上传：</span>
                    <input type="file" id="addImgUpload" name="uploadfile" ng-model="newAd.img">
                </div>
            </div>

            <button type="button" class="btn btn-primary" style="float: right;margin: 20px" ng-click="addAd()">确认添加</button>
        </div>
    </div>
</div>